.titulo {
    font-family: "Lato, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    font-family: "Lato, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

.btn-primary {
    background-color: rgb(161, 101, 10);
    border: none;
}