input {
    border: 2px solid rgb(161, 101, 10);
    border-radius: 6px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(161, 101, 10);
}

.btn-primary:hover {
    background-color: rgb(110, 68, 5);
    border: none;
}